@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-regresar-login{
    background: white;
    border-radius: 20px;
    color: black;
    padding: 5px;
    text-decoration: none;
}

:root {
    --grey: #f1f0f6;
    --dark-grey: #8d8d8d;
    --light: #fff;
    --dark: #000;
    --green: #81d43a;
    --light-green: #e3ffcb;
    --blue: #1775f1;
    --light-blue: #d0e4ff;
    --dark-blue: #0c5fcd;
    --red: #fc3b56;
    --yellow: #fce93b;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all is ease;
    margin: 10px;
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--blue);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: var(--light);
}

.info-childs p {
    margin: 15px 0;
    color: var(--light);
}

.info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover {
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-information-childs {
    padding: 0 30px;
}

.form-information-childs h2 {
    color: #333;
    font-size: 2rem;
}

.form-information-childs p {
    color: #555;
}

form {
    margin: 30px 0 0 0;
}

form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

form label i {
    color: #a7a7a7;
}

form button[type="submit"] {
    background-color: var(--blue);
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

form button[type="submit"]:hover {
    background-color: var(--dark-blue);
}


form p {
    color: #333;
}

form .a-formulario {
    color: var(--dark-blue);

}

form .contenedor-logo {
    width: 150px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {

    .info-childs h2 {
        font-size: 20px;
    }

    .info-childs p {
        font-size: 15px;
    }

    form .contenedor-logo {
        margin: 0;
        width: 100px;
        display: contents;
    }
    form label{
        margin: 25px 5px;
    }
}